<!DOCTYPE HTML>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Google Course Tools - Main Menu</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:if="${setupSuccess != null}" class="rvt-alert rvt-alert--success rvt-m-top-md" role="alertdialog" aria-labelledby="setup-success-title">
            <h1 class="rvt-alert__title" id="setup-success-title">Success</h1>
            <p class="rvt-alert__message" th:text="${setupSuccess}">It's all cool, man!</p>
            <button type="button" class="rvt-alert__dismiss" data-alert-close>
                <span class="v-hide">Dismiss this alert</span>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
                </svg>
            </button>
        </div>

        <div th:if="${setupErrors != null}" class="rvt-alert rvt-alert--danger rvt-m-top-md" role="alert" aria-labelledby="setup-error-title">
            <h1 class="rvt-alert__title" id="setup-error-title">Error</h1>
            <ul>
                <li th:each="error : ${setupErrors}">
                    <p class="rvt-alert__message" th:text="${error}">Alert lists are useful for summarizing multiple errors on a page.</p>
                </li>
            </ul>
            <button type="button" class="rvt-alert__dismiss" data-alert-close>
                <span class="v-hide">Dismiss this alert</span>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
                </svg>
            </button>
        </div>

        <h1 class="rvt-ts-26 rvt-m-tb-sm">Google Course Tools</h1>

        <div th:if="${mainMenuPermissions.displayBadCourseTitleWarning}"
             th:insert="fragments.html :: warning(warningTitle='Invalid course title', warningText='Your request could not be completed because your site name contains characters that are not permitted by Google.  Please edit the name of your Canvas site and remove or replace the following characters:  = (equals), < (less than), and/or > (greater than).  Then return to Google Course Tools to set up your Google resources.')"></div>

        <div th:if="${mainMenuPermissions.displaySetupIncompleteWarning()}"
             th:insert="fragments.html :: warning(warningTitle='Try again later', warningText='Your Instructor has not completed the Google Course Tools setup yet. Please try again later.')"></div>

        <div th:if="${mainMenuPermissions.displayUserIneligibleWarning}"
             th:insert="fragments.html :: warning(warningTitle='User ineligible to use this tool', warningText='We\'re sorry. This tool cannot be used by IU guests. However, the instructor can add you to the course resources in Google manually, which will allow you to access them directly through Google. Please contact your instructor directly and include this URL with instructions when you request to be added: https://kb.iu.edu/d/bgjk.')"></div>

        <div class="rvt-box rvt-width-xl">
            <div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displaySetup}">
                    <a th:href="@{|/app/setup/${courseId}|}" class="rvt-flex rvt-items-center rvt-link-bold">
                        <i class="fa fa-cog fa-2x rvt-m-right-xs iconAnchorOverride" aria-hidden="true"></i>
                        <span class="menuItem">Set up Google Course Tools</span>
                    </a>
                </div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displaySyncCourseRoster}">
                    <a th:href="@{|/app/sync/${courseId}|}" class="rvt-flex rvt-items-center rvt-link-bold">
                        <i class="fa fa-refresh fa-2x rvt-m-right-xs iconAnchorOverride" aria-hidden="true"></i>
                        <span class="menuItem">Sync course roster</span>
                    </a>
                </div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displayShareAndCollaborate}">
                    <a id="menu-link-share" th:href="@{|/app/share/${courseId}|}" class="rvt-flex rvt-items-center rvt-link-bold reminder">
                        <i class="fa fa-share-alt fa-2x rvt-m-right-xs iconAnchorOverride" aria-hidden="true"></i>
                        <span class="menuItem">Share Google files and folders</span>
                    </a>
                </div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displayDiscussInGoogleGroups}">
                    <a id="menu-link-discuss" href="#" class="rvt-flex rvt-items-center rvt-link-bold">
                        <i class="fa fa-comments-o fa-2x rvt-m-right-xs iconAnchorOverride" aria-hidden="true"></i>
                        <span class="menuItem">Discuss in Google Groups</span>
                    </a>
                </div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displayFolderWrapper}">
                    <div class="rvt-flex rvt-items-center">
                        <i class="fa fa-folder-o fa-2x rvt-m-right-xs iconAnchorOverride" aria-hidden="true"></i>
                        <span id="course-folders-label" class="rvt-text-bold">Course folders (open in Google Drive)</span>
                    </div>
                    <ul aria-labelledby="course-folders-label" class="rvt-plain-list rvt-m-left-xl overrideUlMargin">
                        <li th:each="menuFolderLink,itemStat : ${menuFolderLinks}">
                            <a th:id="|menu-link-folder${itemStat.index}|" th:href="${menuFolderLink.link}" target="_blank"
                               th:text="${menuFolderLink.text}">FOLDER TITLE</a>
                        </li>
                    </ul>
                </div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displayCourseInformation}">
                    <a th:href="@{|/app/info/${courseId}|}" class="rvt-flex rvt-items-center rvt-link-bold">
                        <i class="fa fa-info-circle rvt-m-right-xs iconAnchorOverride" style="font-size: 2.5em;" aria-hidden="true"></i>
                        <span class="menuItem">Course information</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="rvt-modal"
             id="modal-account-reminder"
             role="dialog"
             aria-labelledby="modal-account-reminder-title"
             aria-hidden="true"
             tabindex=-1>
            <div class="rvt-modal__inner">
                <header class="rvt-modal__header">
                    <h1 class="rvt-modal__title" id="modal-account-reminder-title">Account Reminder</h1>
                </header>
                <div class="rvt-modal__body">
                    <p>You must use your Google at IU account (<span id="googleLogin" th:text="${googleLoginId}">your_username@iu.edu</span>) to access files, folders, and other resources created by Google Course Tools. If you are currently logged in to Google with a personal account, click <span class="rvt-text-bold">Cancel</span> now and sign out of all Google accounts before proceeding. If you are not currently logged in to Google or logged in with your Google at IU account, click <span class="rvt-text-bold">Continue</span> and log in to Google at IU if necessary. For more information, see <a href="https://kb.iu.edu/d/aoki" target="_blank">https://kb.iu.edu/d/aoki</a>.</p>
                </div>
                <div class="rvt-modal__controls">
                    <button type="button" class="rvt-button" id="modal-account-reminder-continue" data-modal-close="modal-account-reminder">Continue</button>
                    <button type="button" class="rvt-button rvt-button--secondary" data-modal-close="modal-account-reminder">Cancel</button>
                </div>
                <button type="button" class="rvt-button rvt-modal__close" data-modal-close="modal-account-reminder">
                    <span class="rvt-sr-only">Close</span>
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</body>
</html>