<!DOCTYPE HTML>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Google Course Tools - Main Menu</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:if="${initError != null}" class="rvt-alert rvt-alert--error rvt-m-top-md" role="alertdialog" aria-labelledby="init-error-title">
            <h1 class="rvt-alert__title" id="init-error-title">Error</h1>
            <p class="rvt-alert__message" th:text="${initError}">Error text</p>
            <button type="button" class="rvt-alert__dismiss" data-alert-close>
                <span class="v-hide">Dismiss this alert</span>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
                </svg>
            </button>
        </div>

        <div th:if="${setupSuccess != null}" class="rvt-alert rvt-alert--success rvt-m-top-md" role="alertdialog" aria-labelledby="setup-success-title">
            <h1 class="rvt-alert__title" id="setup-success-title">Success</h1>
            <p class="rvt-alert__message" th:text="${setupSuccess}">It's all cool, man!</p>
            <button type="button" class="rvt-alert__dismiss" data-alert-close>
                <span class="v-hide">Dismiss this alert</span>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
                </svg>
            </button>
        </div>

        <div th:if="${setupErrors != null}" class="rvt-alert rvt-alert--danger rvt-m-top-md" role="alert" aria-labelledby="setup-error-title">
            <h1 class="rvt-alert__title" id="setup-error-title">Error</h1>
            <ul>
                <li th:each="error : ${setupErrors}">
                    <p class="rvt-alert__message" th:text="${error}">Alert lists are useful for summarizing multiple errors on a page.</p>
                </li>
            </ul>
            <button type="button" class="rvt-alert__dismiss" data-alert-close>
                <span class="v-hide">Dismiss this alert</span>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
                </svg>
            </button>
        </div>

        <h1 class="rvt-ts-26 rvt-m-bottom-sm">Google Course Tools</h1>

        <div th:if="${mainMenuPermissions.displaySetupIncompleteWarning()}" class="rvt-box rvt-width-xl">
            <div class="rvt-box__row">
                <div class="rvt-flex rvt-items-center rvt-text-bold">
                    <i class="fa fa-exclamation-triangle fa-2x rvt-m-right-xs rvt-m-bottom-xs" aria-hidden="true"></i>
                    <span class="menuItem">Try again later</span>
                </div>
                <div class="rvt-flex rvt-items-center">
                    <span>Your Instructor has not completed the Google Course Tools setup yet. Please try again later.</span>
                </div>
            </div>
        </div>

        <div th:if="${mainMenuPermissions.displayUserIneligibleWarning}" class="rvt-box rvt-width-xl">
            <div class="rvt-box__row">
                <div class="rvt-flex rvt-items-center rvt-text-bold">
                    <i class="fa fa-exclamation-triangle fa-2x rvt-m-right-xs rvt-m-bottom-xs" aria-hidden="true"></i>
                    <span class="menuItem">User ineligible to use this tool</span>
                </div>
                <div class="rvt-flex rvt-items-center">
                    <span>We're sorry. This tool cannot be used by IU guests. However, the instructor can add you to the course resources in Google manually, which will allow you to access them directly through Google. Please contact your instructor directly and include this URL with instructions when you request to be added: https://kb.iu.edu/d/bgjk.</span>
                </div>
            </div>
        </div>

        <div class="rvt-box rvt-width-xl">
            <div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displaySetup}">
                    <a th:href="@{|/app/setup/${courseId}|}" class="rvt-flex rvt-items-center rvt-link-bold">
                        <i class="fa fa-cog fa-2x rvt-m-right-xs iconAnchorOverride" aria-hidden="true"></i>
                        <span class="menuItem">Set up Google Course Tools</span>
                    </a>
                </div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displaySyncCourseRoster}">
                    <a href="#" class="rvt-flex rvt-items-center rvt-link-bold">
                        <i class="fa fa-refresh fa-2x rvt-m-right-xs iconAnchorOverride" aria-hidden="true"></i>
                        <span class="menuItem">Sync course roster</span>
                    </a>
                </div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displayShareAndCollaborate}">
                    <a href="#" class="rvt-flex rvt-items-center rvt-link-bold">
                        <i class="fa fa-share-alt fa-2x rvt-m-right-xs iconAnchorOverride" aria-hidden="true"></i>
                        <span class="menuItem">Share Google files and folders</span>
                    </a>
                </div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displayDiscussInGoogleGroups}">
                    <a href="#" class="rvt-flex rvt-items-center rvt-link-bold">
                        <i class="fa fa-comments-o fa-2x rvt-m-right-xs iconAnchorOverride" aria-hidden="true"></i>
                        <span class="menuItem">Discuss in Google Groups</span>
                    </a>
                </div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displayFolderWrapper}">
                    <div class="rvt-flex rvt-items-center">
                        <i class="fa fa-folder-o fa-2x rvt-m-right-xs iconAnchorOverride" aria-hidden="true"></i>
                        <span id="course-folders-label" class="rvt-text-bold">Course folders (open in Google Drive)</span>
                    </div>
                    <ul aria-labelledby="course-folders-label" class="rvt-plain-list rvt-m-l-md overrideUlMargin">
                        <li th:if="${mainMenuPermissions.displayCourseFilesFolder}">
                            <a href="#">COURSE FILES</a>
                        </li>
                        <li th:if="${mainMenuPermissions.displayDropBoxFolder}">
                            <a href="#">DROP BOXES</a>
                        </li>
                        <li th:if="${mainMenuPermissions.displayMyDropBoxFolder}">
                            <a href="#">MY DROP BOX</a>
                        </li>
                        <li th:if="${mainMenuPermissions.displayFileRepository}">
                            <a href="#">FILE REPOSITORY</a>
                        </li>
                        <li th:if="${mainMenuPermissions.displayInstructorFilesFolder}">
                            <a href="#">INSTRUCTOR FILES</a>
                        </li>
                    </ul>
                </div>
                <div class="rvt-box__row" th:if="${mainMenuPermissions.displayCourseInformation}">
                    <a th:href="@{|/app/info/${courseId}|}" class="rvt-flex rvt-items-center rvt-link-bold">
                        <i class="fa fa-info-circle rvt-m-right-xs iconAnchorOverride" style="font-size: 2.5em;" aria-hidden="true"></i>
                        <span class="menuItem">Course Information</span>
                    </a>
                </div>
            </div>
        </div>

<!--        <form th:action="@{|/app/createGroup/${courseId}|}" method="post">-->
<!--            <input name="allMembers" />-->
<!--            <input name="teacherMembers" />-->
<!--            <button type="submit">Create groups for course</button>-->
<!--        </form>-->
<!--        <form th:action="@{|/app/groups/${courseId}|}" method="post">-->
<!--            <button type="submit">List groups for course</button>-->
<!--        </form>-->
<!--        <form th:action="@{|/app/folders/${courseId}|}" method="post">-->
<!--            <input name="launchedUser" />-->
<!--            <button type="submit">Init Folders</button>-->
<!--        </form>-->
<!--        <form th:action="@{|/app/files/${courseId}|}" method="post">-->
<!--            <button type="submit">List files</button>-->
<!--        </form>-->
<!--        <form th:action="@{|/app/picker/${courseId}|}" method="post">-->
<!--            <button type="submit">Goto File Picker</button>-->
<!--        </form>-->
<!--        <ul>-->
<!--            <li>Groups:</li>-->
<!--            <li th:each="group : ${groups}">-->
<!--                <span th:text="${group.name}">name</span> (<span th:text="${group.id}">id</span>) - (<span th:text="${group.email}">email</span>)-->
<!--            </li>-->
<!--        </ul>-->
<!--        <ul>-->
<!--            <li>Files:</li>-->
<!--            <li th:each="file : ${files}">-->
<!--                <span th:text="${file.name}">name</span> (<span th:text="${file.id}">id</span>)-->
<!--            </li>-->
<!--        </ul>-->
    </div>
</body>
</html>