<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Google Course Tools Information</title>
</head>
<body>
<div layout:fragment="content">
    <nav role="navigation" aria-label="Breadcrumbs" class="rvt-p-tb-sm">
        <ol class="rvt-breadcrumbs">
            <li><a th:href="@{|/app/index/${courseId}|}">Google Course Tools</a></li>
            <li aria-current="page">Course information</li>
        </ol>
    </nav>
    <h1 class="rvt-ts-26 rvt-p-bottom-sm">Course information</h1>
    <h2 class="rvt-ts-23 rvt-p-bottom-sm">Google Groups for course</h2>
    <table class="widthOverride">
        <caption class="sr-only">Google Groups for course table</caption>
        <thead>
        <tr>
            <th scope="col">Membership</th>
            <th scope="col">Display Name</th>
            <th scope="col">Group ID</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Entire class</th>
            <td>
                <a th:if="${courseInfo.instructor}" target="_blank" th:text="${courseInfo.allGroupDetails.name}"
                   th:href="${courseInfo.allGroupDetails.url}">CourseName-CanvasID All</a>
                <span th:unless="${courseInfo.instructor}" th:text="${courseInfo.allGroupDetails.name}">CourseName-CanvasID All</span>
            </td>
            <td>
                <a th:if="${courseInfo.mailingListEnabled}" th:href="|mailto:${courseInfo.allGroupDetails.email}|" target="_blank"
                   th:text="${courseInfo.allGroupDetails.email}">CanvasID-all-iu-group@iu.edu</a>
                <span th:unless="${courseInfo.mailingListEnabled}" th:text="|${courseInfo.allGroupDetails.email} (not enabled for email)|">CourseName-CanvasID All</span>
            </td>
        </tr>
        <tr>
            <th scope="row">Teachers only</th>
            <td>
                <a th:if="${courseInfo.instructor}" target="_blank" th:text="${courseInfo.teacherGroupDetails.name}"
                   th:href="${courseInfo.teacherGroupDetails.url}">CourseName-CanvasID Teachers</a>
                <span th:unless="${courseInfo.instructor}" th:text="${courseInfo.teacherGroupDetails.name}">CourseName-CanvasID Teachers</span>
            </td>
            <td>
                <span th:text="|${courseInfo.teacherGroupDetails.email} (not enabled for email)|">CanvasID-teachers-iu-group@iu.edu (not enabled for email)</span>
            </td>
        </tr>
        <tr th:each="group : ${courseInfo.canvasCourseGroups}">
            <th scope="row">Teachers and Canvas group members</th>
            <td>
                <a th:if="${courseInfo.instructor}" target="_blank" th:text="${group.name}"
                   th:href="${group.url}">CourseName-CanvasID Teachers</a>
                <span th:unless="${courseInfo.instructor}" th:text="${group.name}">CourseName-CanvasID Teachers</span>
                <span th:unless="${group.existsInCanvas}">(deleted in Canvas)</span>
            </td>
            <td>
                <span th:text="|${group.email} (not enabled for email)|">CanvasID-teachers-iu-group@iu.edu (not enabled for email)</span>
            </td>
        </tr>
        </tbody>
    </table>
    <dl>
        <dt th:if="${courseInfo.mailingListEnabled}">Mailing list address</dt>
        <dd th:if="${courseInfo.mailingListEnabled}">
            <a th:href="|mailto:${courseInfo.allGroupEmail}|" target="_blank"
               th:text="${courseInfo.allGroupEmail}">CanvasID-all-iu-group@iu.edu</a>
        </dd>
        <dt>Roles with instructor access</dt>
        <dd th:each="role : ${courseInfo.teacherRoles}" th:text="${role}">role</dd>
        <dt>Course folders</dt>
        <dd th:text="${courseInfo.rootCourseFolder}">CourseName (CanvasID)</dd>
        <dd class="folderList" th:each="folder : ${courseInfo.optionalCourseFolders}" th:text="${folder}">folder</dd>
    </dl>
</div>

</body>
</html>